
<div class="column is-half">
    <% if user_signed_in? %>
    <h1 class="pt-5"> Bienvenido <%= current_user.name %> </h1>
    <article class="media box">
        <figure class="medifa-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
        </figure>
        <div class="media-content">
            <%= render 'tweets/form'%>
        </div>
    </article>
    <% end %>

<% @tweets.each do |tweet| %>
    <div class="box">
        <article class="media">
            <div class="media-left">

                <%# <figure class="image is-64x64"> %>
                    <%# <%= tweet.user.picture%> 
                <%# </figure> %>
            </div> 
            <div class="media-content">
                <div class="content">
                    <strong>Foto: </strong>
                    <small><%= tweet.user.picture %></small> <br/>
                    <strong> <%= tweet.user.name %> </strong>
                    <small> @<%= tweet.user.nickname %> </small> <br/>
                    <p><%= tweet.tweet %></p>
                    <div class="level-left is-mobile">
                    
                    </div>
                </div>
  
                <% if user_signed_in? %>
                <nav class="level">
                
                    <div class="level-left is-mobile">

                        <%= link_to tweet, class: "level-item" do%>
                            <span class="icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> </span>
                            <%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? '' : ''%>
                           
                        <% end %>



                         <%= link_to '#', class: "level-item" do%>
                            <span class="icon"><i class="fa fa-retweet" aria-hidden="true"></i> </span>
                            <h3>10</h3>
                        <% end %>

                        
                        <%= link_to tweet, class: "level-item" do%>
                            <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                        <% end %>

                        <%= link_to edit_tweet_path(tweet), class: "level-item" do%>
                            <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <% end %>

                        <%= link_to tweet, method: :delete, data: {confirm: "Seguro quieres eliminar el tweet?"} do%>
                            <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        <% end %>
                    </div>
                </nav>
                <% end %>
            </div>
        </article>
    </div>
<% end %>
<%= will_paginate @tweets, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Mostrar más tweets", inner_window:1, outer_window:0%>
</div>